include mixins
extends layout


block content   
            include navbar
            meta(http-equiv='refresh', content='60')


            
            h3 Dashboard
            .row
                .col-md-6.col-sm-6.col-xs-12

                    ul.list-group
                        li.list-group-item
                            span.badge #{metaTime}
                            |     Last PACS update
                        li.list-group-item
                            span.badge #{rowCount}
                            |     Number of cardholders
                        li.list-group-item
                            span.badge #{totalDevices}
                            |     Total devices
                .col-md-6.col-sm-6.col-xs-12
                    ul.list-group
                        li.list-group-item
                            span.badge #{rst}
                            |     Next event
                        li.list-group-item
                            span.badge #{lastMuster}
                            |     Last muster drill
                        li.list-group-item
                            span.badge #{siteCount}
                            |     Employees on-site



            
            .row
                br
                p.text-danger BAD CONNECTION ALERTS

               
                div
                    table#pickle1.table.table-hover.table-striped.table-bordered
                        thead
                            tr.danger
                                th Reader ID
                                th Connection Attempt
                                th Result
                                th GPS (Lat)
                                th GPS (Lng)
                        tbody
                            -each reslt8 in reslt8s
                                tr
                                    td=reslt8.AuthCode
                                    td=reslt8.ConnectionAttemptTime
                                    td=reslt8.Result
                                    td=reslt8.Lat
                                    td=reslt8.Lng
                    script.
                        $(document).ready(function() {
                        $('#pickle1').DataTable({
                         "bSort" : false
                         });
                        });
                    script.
                        $(document).ready(function() {
                        $('#pickle1 tr').click(function() {
                        var href = $(this).find("a").attr("href");
                            if(href) {
                                window.location = href;
                            }
                        });
                        });


                        br
               
            .row
                br
                p.text-info DEVICES REQUESTING ACTIVATION
               
                div
                    table#pickle2.table.table-hover.table-striped.table-bordered 
                        thead
                            tr.info
                                th
                                th Reader ID
                                th Current Status
                                th Last Connected
                                th Connect Count
                                
                        tbody
                            -each resultA in resultAs
                                tr
                                    td
                                        a(href="/deviceModify/#{resultA.AuthCode}") Activate
                                    td=resultA.AuthCode
                                    td=resultA.CurrentStatus
                                    td=resultA.LastConnect
                                    td=resultA.ConnectionAttemptCount
                                    
                    script.
                        $(document).ready(function() {
                        $('#pickle2').DataTable();
                        });
                    script.
                        $(document).ready(function() {
                        $('#pickle2 tr').click(function() {
                        var href = $(this).find("a").attr("href");
                            if(href) {
                                window.location = href;
                            }
                        });
                        });

            .row
                
                
                br
                p.text-warning BLACK/GRAY LISTED DEVICES

               
                div
                    table#pickle3.table.table-hover.table-striped.table-bordered
                        thead
                            tr.warning
                                th Reader ID
                                th Current Status
                                th Last Connected
                                th Connect Count
                                th Activated On
                        tbody
                            -each result in results
                                tr
                                    td=result.AuthCode
                                    td=result.CurrentStatus
                                    td=result.LastConnect
                                    td=result.ConnectionAttemptCount
                                    td=result.DateIssued
                    script.
                        $(document).ready(function() {
                        $('#pickle3').DataTable();
                        });
                    script.
                        $(document).ready(function() {
                        $('#pickle3 tr').click(function() {
                        var href = $(this).find("a").attr("href");
                            if(href) {
                                window.location = href;
                            }
                        });
                        });


            include footer
 
        
   
 




    
