include mixins
extends layout
block content   
            include navbar


            
            h3 Dashboard
            .row
                .col-md-6.col-sm-6.col-xs-12

                    ul.list-group
                        li.list-group-item
                            span.badge #{metaTime}
                            |     Last PACS update
                        li.list-group-item
                            span.badge #{rowCount}
                            |     Number of cardholders
                        li.list-group-item
                            span.badge #{totalDevices}
                            |     Total devices
                .col-md-6.col-sm-6.col-xs-12
                    ul.list-group
                        li.list-group-item
                            span.badge #{rst}
                            |     Next event
                        li.list-group-item
                            span.badge #{lastMuster}
                            |     Last muster drill
                        li.list-group-item
                            span.badge #{siteCount}
                            |     Employees on-site



            
            .row
                br
                p.text-danger BAD CONNECTION ALERTS

               
                div
                    table#pickle1.table.table-hover.table-striped.table-bordered
                        thead
                            tr.danger
                                th Reader ID
                                th Current Status
                                th Last Connected
                                th Connect Count
                                th Activated On
                        tbody
                            -each result in results
                                tr
                                    td=result.AuthCode
                                    td=result.CurrentStatus
                                    td=result.LastConnect
                                    td=result.ConnectionAttemptCount
                                    td=result.DateIssued
                    script.
                        $(document).ready(function() {
                        $('#pickle1').DataTable();
                        });
                    script.
                        $(document).ready(function() {
                        $('#pickle1 tr').click(function() {
                        var href = $(this).find("a").attr("href");
                            if(href) {
                                window.location = href;
                            }
                        });
                        });

            .row
                
                
                br
                p.text-warning BLACK/GRAY LISTED DEVICES

               
                div
                    table#pickle.table.table-hover.table-striped.table-bordered
                        thead
                            tr.warning
                                th Reader ID
                                th Current Status
                                th Last Connected
                                th Connect Count
                                th Activated On
                        tbody
                            -each result in results
                                tr
                                    td=result.AuthCode
                                    td=result.CurrentStatus
                                    td=result.LastConnect
                                    td=result.ConnectionAttemptCount
                                    td=result.DateIssued
                    script.
                        $(document).ready(function() {
                        $('#pickle').DataTable();
                        });
                    script.
                        $(document).ready(function() {
                        $('#pickle tr').click(function() {
                        var href = $(this).find("a").attr("href");
                            if(href) {
                                window.location = href;
                            }
                        });
                        });


            include footer
 
        
   
 




    
