include mixins
extends layout
block content   

        include navbar

        .well
            h4 Scans for card ##{badgeNum} &nbsp -- &nbsp  Cardholder: #{cardholderName}
        
        form.form-vertical(method='post')
               fieldset
                        .row
                            .col-md-4.col-sm-6.col-xs-12
                                .form-group
                                    label.col-lg-2.control-label(for='inputEmail') Date range:
                                    .col-lg-10
                                        input#datepicker1.form-control(type='text',name='startDate', value=displaySearchStart,required='')  
                                .form-group
                                    .col-lg-10
                                        input#datepicker2.form-control(type='text',name='endDate', value=displaySearchEnd,required='')
                            .col-md-4.col-sm-6.col-xs-12
                                br
                                br
                                button.btn.btn-primary.btn(type="submit") Click to search date range  
                                
                            
        br 
        div
            table#pickle.table.table-hover.table-striped.table-bordered
                    thead
                        tr
                            th Employee ID
                            th Badge ID
                            th Scan Date
                            th Scan Time
                            th Contractor
                            th Device ID
                            th Operator ID
                            
                    tbody
                        -each result in results
                            tr
                                    td=result.EmpID
                                    td=result.BadgeID
                                    td=result.ScanDate
                                    td=result.ScanTime
                                    td=result.Contractor
                                    td=result.ClientSWID
                                    td=result.MobSSOperator
            script.
                    $(document).ready(function() {
                    $('#pickle').DataTable();
                    });
            script.
                    $(document).ready(function() {
                    $('#pickle tr').click(function() {
                    var href = $(this).find("a").attr("href");
                        if(href) {
                            window.location = href;
                        }
                    });});
            
            link(rel='stylesheet', href='/javascripts/jquery-ui.css')         
            link(rel='stylesheet', href='/javascripts/jquery.timepicker.css')
                        
            script(src='/javascripts/jquery.timepicker.min.js')
            script.
              $( function() {
              $( "#timepicker" ).timepicker({timeFormat : "H:i:s"});
              } );

            script(src='/javascripts/jquery-ui.js')
            script.
              $( function() {
              $( "#datepicker1" ).datepicker({dateFormat: "yy-mm-dd"});
              } );
            script.
              $( function() {
              $( "#datepicker2" ).datepicker({dateFormat: "yy-mm-dd"});
              } );

            .col-md-4.col-sm-6.col-xs-12
                br
                p.text-danger #{sess.rptError}
                p.text-success #{sess.rptSuccess}
                
                form.form-signin(class="form-horizontal", Action="/verifyReport/#{badgeNum}", method="post")
                    button.btn.btn-primary.btn(type="submit") Click to generate report 
           